<%= render layout: "partials/dashboard", locals: { active: "Courses" } do %>
  <div class="mx-auto md:w-2/3 w-full flex">
    <div class="mx-auto w-full">
      <div class="flex flex-row items-center justify-between">
        <div class="flex flex-row items-center">
          <h2 class="mr-2">
            <%= link_to  @course.name, @course, class: "hover:underline" %>
            <span class="font-extralight">/</span> <%= @team.name %>
          </h2>
        </div>
        <% if current_user.instructor %>
          <%= button_to edit_course_team_path(@course, @team), method: :get, class: "text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2" do %>
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
          <% end %>
        <% end %>
      </div>
      <div class="min-w-full grid md:grid-cols-2 gap-3 mt-2">
        <div>
          <h3>Team Average Score</h3>
          <p class="text-2xl">
            <%= average_team_score(@team) || "No score" %> / 5
          </p>
        </div>
        <div>
          <h3>Completed Evaluations</h3>
          <p class="text-2xl">
            <%= @team_evals.count{|e| e.completed} %>
            <span class="font-extralight">/</span>
            <%= @team_evals.length %>
          </p>
        </div>
      </div>
      <h3>Team Evaluations</h3>
      <%= render partial: "partials/evaluations/show", locals: {evaluations: all_course_team_evals(@team), can_edit: false} %>
    </div>
  </div>
<% end %>
