<%= turbo_frame_tag :dashboardTop, class: "flex flex-row w-full h-full" do %>
  <div data-controller="navigation" data-action="turbo:before-fetch-response@document->navigation#displayContent" class="flex flex-row w-full h-full">
    <%= render partial: "partials/dashboard_sidebar", locals: { active: active } %>
    <div class="w-[calc(100%-4rem)] max-w-3xl m-8 mt-4">
      <div class="w-full mt-4">
        <%= turbo_frame_tag :dashboardContent, "data-navigation-target": "content", class: "w-full" do %>
          <%= yield %>
        <% end%>
      </div>
      <%= render partial: "partials/loading_indicator" %>
    </div>
  </div>
<% end %>
