<aside class="w-64" aria-label="Sidebar">
  <div class="h-full overflow-y-auto py-4 px-3 bg-gray-50 rounded">
    <ul class="space-y-2">
      <li>
        <% if active == "Dashboard" %>
          <%= link_to dashboard_path, data: {turbo_frame: "dashboardTop", action: "turbo:click->navigation#displayLoading", navigation_target: "link"}, class: "active bg-gradient-to-br from-orange-500 to-pink-500 flex items-center p-2 text-base font-normal text-white rounded-lg" do %>
            <svg class="flex-shrink-0 w-6 h-6 text-gray-100 transition duration-75 group-hover:text-gray-900" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg>
            <span class="ml-3">Dashboard</span>
          <% end %>
        <% else %>
          <%= link_to dashboard_path, data: {turbo_frame: "dashboardTop", action: "turbo:click->navigation#displayLoading", navigation_target: "link"}, class: "flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100" do %>
            <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg>
            <span class="ml-3">Dashboard</span>
          <% end %>
        <% end %>
      </li>
      <% if current_user.instructor || current_user.student %>
        <li>
          <% if active == "Courses" %>
            <%= link_to courses_path, data: {turbo_frame: "dashboardTop", action: "turbo:click->navigation#displayLoading", navigation_target: "link"}, class: "active bg-gradient-to-br from-orange-500 to-pink-500 flex items-center p-2 text-base font-normal text-white rounded-lg" do %>
              <svg class="flex-shrink-0 w-6 h-6 text-gray-100 transition duration-75 group-hover:text-gray-900" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>
              <span class="flex-1 ml-3 whitespace-nowrap">Courses</span>
            <% end %>
          <% else %>
            <%= link_to courses_path, data: {turbo_frame: "dashboardTop", action: "turbo:click->navigation#displayLoading", navigation_target: "link"}, class: "flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100" do %>
              <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>
              <span class="flex-1 ml-3 whitespace-nowrap">Courses</span>
            <% end %>
          <% end %>
        </li>
        <% if current_user.student %>
          <li>
            <% if active == "Evaluations" %>
              <%= link_to show_evaluations_path, data: {turbo_frame: "dashboardTop", action: "turbo:click->navigation#displayLoading", navigation_target: "link"}, class: "active bg-gradient-to-br from-orange-500 to-pink-500 flex items-center p-2 text-base font-normal text-white rounded-lg" do %>
                <svg class="flex-shrink-0 w-6 h-6 text-gray-100 transition duration-75 group-hover:text-gray-900" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>
                <span class="flex-1 ml-3 whitespace-nowrap">Evaluations</span>
                <span class="inline-flex justify-center items-center p-3 ml-3 w-3 h-3 text-sm font-medium text-blue-600 bg-blue-200 rounded-full dark:text-blue-200">3</span>
              <% end %>
            <% else %>
              <%= link_to show_evaluations_path, data: {turbo_frame: "dashboardTop", action: "turbo:click->navigation#displayLoading", navigation_target: "link"}, class: "flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100" do %>
                <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>
                <span class="flex-1 ml-3 whitespace-nowrap">Evaluations</span>
                <span class="inline-flex justify-center items-center p-3 ml-3 w-3 h-3 text-sm font-medium text-blue-600 bg-blue-200 rounded-full dark:text-blue-200">3</span>
              <% end %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <% if current_user.approver || current_user.admin %>
      <ul class="pt-4 mt-4 space-y-2 border-t border-gray-200">
        <li>
          <% if active == "Requests" %>
            <%= link_to dashboard_manage_requests_path, data: {turbo_frame: "dashboardTop", action: "turbo:click->navigation#displayLoading", navigation_target: "link"}, class: "active bg-gradient-to-br from-orange-500 to-pink-500 flex items-center p-2 text-base font-normal text-white rounded-lg" do %>
              <svg class="flex-shrink-0 w-6 h-6 text-gray-100 transition duration-75 group-hover:text-gray-900" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"></path></svg>
              <span class="ml-3">Requests</span>
              <% if number_of_requests > 0 %>
                <span class="inline-flex justify-center items-center p-3 ml-3 w-3 h-3 text-sm font-medium text-blue-600 bg-blue-200 rounded-full"><%= number_of_requests %></span>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to dashboard_manage_requests_path, data: {turbo_frame: "dashboardTop", action: "turbo:click->navigation#displayLoading", navigation_target: "link"}, class: "flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100" do %>
              <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"></path></svg>
              <span class="ml-3">Requests</span>
              <% if number_of_requests > 0 %>
                <span class="inline-flex justify-center items-center p-3 ml-3 w-3 h-3 text-sm font-medium text-blue-600 bg-blue-200 rounded-full"><%= number_of_requests %></span>
              <% end %>
            <% end %>
          <% end %>
        </li>
          <% if current_user.admin %>
          <li>
            <% if active == "Users" %>
              <%= link_to dashboard_manage_users_path, data: {turbo_frame: "dashboardTop", action: "turbo:click->navigation#displayLoading", navigation_target: "link"}, class: "active bg-gradient-to-br from-orange-500 to-pink-500 flex items-center p-2 text-base font-normal text-white rounded-lg" do %>
                <svg class="flex-shrink-0 w-6 h-6 text-gray-100 transition duration-75" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>
                <span class="ml-3">Users</span>
              <% end %>
            <% else %>
              <%= link_to dashboard_manage_users_path, data: {turbo_frame: "dashboardTop", action: "turbo:click->navigation#displayLoading", navigation_target: "link"}, class: "flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100" do %>
                <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>
                <span class="ml-3">Users</span>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <ul class="pt-4 mt-4 space-y-2 border-t border-gray-200">
      <li>
        <%= link_to logout_path, data: { turbo_frame: :_top, "turbo-method": :delete }, class: "flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100" do %>
          <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>
          <span class="flex-1 ml-3 whitespace-nowrap">Sign Out</span>
        <% end %>
      </li>
    </ul>
    <div class="pt-4 mt-4 flex flex-col items-center border-t border-gray-200">
      <strong><%= current_user.name %></strong>
      <div class="">
        <%= badges_for current_user %>
      </div>
    </div>
  </div>
</aside>
