<% provide(:title, "Request Instructor Role") %>
<h2 class="mt-4">Request Instructor Account</h2>
<%= turbo_frame_tag "flash" do %>
  <%= render "partials/flash" %>
<% end %>
<div class="w-[calc(100%-4rem)] max-w-3xl m-8">
  <div class="col-md-6 col-md-offset-3 w-full">
    <%= form_with(url: requests_path, scope: :request, local: true, class: 'flex flex-col items-center w-full') do |f| %>
      <div class="mb-6 w-full">
        <%= f.label :name, "Full Name", class: 'block mb-2 text-sm font-medium text-gray-900' %>
        <%= f.text_field :name, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5', required: true  %>
      </div>
      <div class="mb-6 w-full">
        <%= f.label :email, "Edu Email", class: 'block mb-2 text-sm font-medium text-gray-900' %>
        <%= f.email_field :email, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5', placeholder: "john.doe@university.edu", required: true %>
      </div>
      <div class="mb-6 w-full">
        <%= f.label :institution, class: 'block mb-2 text-sm font-medium text-gray-900' %>
        <%= f.text_field :institution, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5', required: true  %>
      </div>
      <div class="mb-6 w-full">
        <%= f.label :comments, "Reason", class: 'block mb-2 text-sm font-medium text-gray-900' %>
        <%= f.text_area :comments, class: 'block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500', required: true  %>
      </div>
      <%= f.submit "Submit", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center" %>
    <% end %>
  </div>
</div>
