<%= render "partials/modal" do %>
  <!-- Modal header -->
  <div class="flex justify-between items-start p-5 rounded-t border-b">
    <h3 class="text-xl font-semibold text-gray-900 lg:text-2xl">
      Edit Project
    </h3>
    <button type="button" data-action="modal#close" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-toggle="defaultModal">
        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
    </button>
  </div>
  <!-- Modal body -->
  <div class="p-6 space-y-6">
    <%= turbo_frame_tag "flash" do %>
      <%= render "partials/flash" %>
    <% end %>
    <%= form_with(url: update_course_project_path(@course.id, @project.id), scope: :project, local: true, class: 'flex flex-col items-start w-full') do |f| %>
      <div class="mb-6 w-full">
        <%= f.label :name, "Project Name", class: 'block mb-2 text-sm font-medium text-gray-900' %>
        <%= f.text_field :name, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5', required: true, value: @project.name %>
      </div>
      <div class="mb-6 w-full">
        <%= f.label :active, "Active", class: 'block mb-2 text-sm font-medium text-gray-900' %>
        <%= f.check_box :active, "aria-describedby": "active", type: "checkbox", checked: !@project.closed, class: "w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300" %>
      </div>
      <%= f.submit "Update Project", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center" %>
    <% end %>
  </div>
  <div class="flex flex-row items-center justify-end w-full p-6 space-x-2 rounded-b border-t border-gray-200">
    <%= link_to "Remove Project", destroy_course_project_path(@course, @project), method: :delete, data: {"turbo-method": :delete, "turbo-frame": "_top", "turbo-action": "advance", "action": "modal#close" }, class: "text-red-500 hover:text-white border border-red-500 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-900 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
    <button type="button" data-action="modal#close" class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Cancel</button>
  </div>
<% end %>
