<%= render layout: "partials/dashboard", locals: { active: "Courses" } do %>
  <div class="mx-auto md:w-2/3 w-full flex">
    <div class="mx-auto w-full">
      <div class="flex flex-row items-center justify-between">
        <div class="flex flex-row items-center">
          <h2 class="mr-2">
            <%= link_to  @course.name, @course, class: "hover:underline" %>
            <span class="font-extralight">/</span> <%= @project.name %>
          </h2>
          <%= badge_for_project @project %>
        </div>
        <% if current_user.instructor %>
          <%= button_to edit_course_project_path(@course, @project), method: :get, class: "text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2" do %>
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
          <% end %>
        <% end %>
      </div>
      <div class="min-w-full grid md:grid-cols-2 gap-3 mt-2">
        <div>
          <h3>Project Average Score</h3>
          <p class="text-2xl">
            <% if current_user.instructor %>
              <%= average_project_score(@project) || "No score" %> / 5
            <% else %>
              <%= average_team_project_score(@team, @project) || "No score" %> / 5
            <% end %>
          </p>
        </div>
        <div>
          <h3>Completed Evaluations</h3>
          <p class="text-2xl">
            <%= @project_evals.count{|e| e.completed} %>
            <span class="font-extralight">/</span>
            <%= @project_evals.length %>
          </p>
        </div>
      </div>
      <% if current_user.instructor %>
        <h3>Project Evaluations</h3>
      <% else %>
        <h3>Project Evaluations for My Team</h3>
      <% end %>
      <% if current_user.instructor %>
        <%= render partial: "partials/evaluations/show", locals: {evaluations: all_course_project_evals(@project), can_edit: false} %>
      <% else %>
        <% # Uses assumption 1 team per user per course %>
        <%= render partial: "partials/evaluations/show", locals: {evaluations: all_course_project_team_evals(@team, @project), can_edit: false} %>
      <% end %>
    </div>
  </div>
<% end %>
