<%= turbo_frame_tag :dashboardContent, class: "w-full" do %>
  <h2>Instructor Account Requests</h2>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div class="p-4">
      <label for="table-search" class="sr-only">Search</label>
      <div class="relative mt-1">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg class="w-5 h-5 text-gray-500 fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
        </div>
        <input type="text" id="table-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 pl-10 p-2.5  placeholder="Search for items">
      </div>
    </div>
    <table class="w-full text-sm text-left text-gray-500 table-fixed">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 w-1/5">
            Name
          </th>
          <th scope="col" class="px-6 py-3 overflow-hidden whitespace-nowrap w-auto">
            Email
          </th>
          <th scope="col" class="px-6 py-3 w-2/6">
            Institution
          </th>
          <th scope="col" class="px-6 py-3 w-1/6">
            <span class="sr-only">View</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @requests.each do |r| %>
          <tr class="bg-white border-b hover:bg-gray-50 dark:hover:bg-gray-600 w-full">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap w-1/5">
                <%= r.name %>
            </th>
            <td class="px-6 py-4 overflow-hidden whitespace-nowrap max-w-md text-ellipsis w-auto">
                <%= r.email %>
            </td>
            <td class="px-6 py-4 overflow-hidden whitespace-nowrap max-w-md text-ellipsis w-2/6">
              <%= r.institution %>
            </td>
            <td class="px-6 py-4 text-right w-1/6">
                <p><%= link_to "View", request_path(r.id), data: {"turbo-frame": "modal" } %></p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
