<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Evaluate.Me</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.1/dist/flowbite.min.css" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "theme", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "static_pages" %>
    <% if Rails.env.development? %>
      <%= javascript_include_tag "hotwire-livereload", defer: true %>
    <% end %>
  </head>

  <body>
    <%= turbo_frame_tag "navbarTop" do %>
      <%= render partial: "partials/navbar" %>
    <% end %>
    <main id="content" class="flex flex-col items-center w-full h-full">
      <%= yield %>
    </main>
    <%= turbo_frame_tag "modal" %>
    <%= turbo_frame_tag "toast" %>
    <div id="footer" class="mt-auto">
      <%= render partial: "partials/footer" %>
    </div>
    <%= javascript_include_tag "flowbite-1.4.1-patched.js", "data-turbolinks-track" => true  %>
    <%= javascript_include_tag "turbo-drive-nav.js", "data-turbolinks-track" => true  %>
  </body>
</html>
